body {
margin: 0 0 0 0;
padding: 0 0 0 0;
border: 0 0 0 0;
background-color: #DBDBDB;
}

p {
text-align: left;
width: 40%;
float: left;
margin: 15px 15px 15px 15px;
padding: 10px 10px 10px 10px;
background-color: white;
font-family: sans-serif;
clear:left;
}

/*style for accordion content*/
#content{
text-align:center;
width: 40%;
float: left;
margin:10px 10px 10px 10%;
padding: 10px 10px 10px 10px;
background-color: #DBDBDB;
}

#lisa {
float: left;
width: 17%;
margin: 15px 15px 15px 15px;
padding: 0 0 0 0;
}

ul.temptop {
float: left;
width: 16.65%;
margin: 0 0 0 0;
padding: 20px 0 20px 0;
background-color: gray;
text-align: center;
color: white;
}

#cover {
width: 78%;
float:left;
margin: 0 0 0 0;
border: 0 0 0 0;
padding: 0 0 0 0;
}

#donate {
width: 22%;
float:right;
}

.fb-like-box {
list-style-type: none;
margin: 0px;
float: right;
clear:right;
height: auto;
padding: 10px 15px 20px 20px;
width: 19.5%;
background-color: #DBDBDB;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  .mobile-hide{ display: none; }
}

#sharebuttons{
	clear: both;
	margin-left: 50%;
	margin-bottom: 10px;
}

h1 {
width: 70%;
text-align: center;
margin: 0px 0 50px 0;
padding: 50px 0 0 0 ;
font-size: 50px;
}

nav {
float: clear;
float: left;
}

#words {
width: 100%;
margin: 0 0 0 0;
padding: 0 0 0 0 ;
border: 0 0 0 0;
}
/*=======Test menu=========*/
.myMenu {
	margin:0;
	padding:0;
	
}

.myMenu li {
	list-style:none;
	float:left;
	font:12px Arial, Helvetica, sans-serif #111;
}

.myMenu li a:link, .myMenu li a:visited {
	display:block;
	text-decoration:none;
	background-color:#09F;
	padding: 0.5em 2em;
	margin:0;
	color:#111;
}

.myMenu li a:hover {
	background-color:#0CF;	
}

/*style the sub menu*/
.myMenu li ul {
	position:absolute;
	visibility:hidden;
	border-top:1px solid #fff;
	margin:0;
	padding:0;
	z-index:1000;
}

.myMenu li ul li {
	display:inline;
	float:none;
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
	background-color:#09F;
	width:auto;
}

.myMenu li ul li a:hover {
	background-color:#0CF;	
}
/*Menu CSS ends here ===================*/
/*Carousel CSS Starts here*/
#carousel {
	width: 720px; //set to width of images to display
	height: 480px; //set to height of images to display
	display: block;
	position: relative;
	margin: auto;
	float: left;
}

#slider {
	width: 720px;
	height: 480px;
	display: block;
	position: absolute;
	overflow: hidden;
}

.info {
	width: 720px;
	height: 80px;
	display: block;
	position: relative;
	bottom: 100px;
	background: rgba(30,30,30,.4);
	z-index: 99;
}

.info h2 {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	padding: 15px 0 0 20px;
}

.info p {
	font-family: sans-serif;
	font-size: 15px;
	font-weight: ligher;
	color: #FFF;
	padding: 0 0 0 20px;
	line-height: 1px;
}

#play {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	position: absolute;
	top: 0;
	right: 44px;
	background: rgba(30,30,30,.4);
	color: #FFF;
	cursor: pointer;
	z-index: 999;
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
}

#pause {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	position: absolute;
	top: 0;
	right: 88px;
	background: rgba(30,30,30,.4);
	color: #FFF;
	cursor: pointer;
	z-index: 999;
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
}
#next {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(30,30,30,.4);
	color: #FFF;
	cursor: pointer;
	z-index: 999;
}
#prev {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	position: absolute;
	top: 0;
	right: 133px;
	background: rgba(30,30,30,.4);
	color: #FFF;
	cursor: pointer;
	z-index: 999;
}

#pager {
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	cursor: pointer;
	z-index: 999;
}

#pager a {
	font-size: .0em;
	color: transparent;
	width: 10px;
	height: 10px;
	display: inline-block;
	position: relative;
	border: 1px solid #FFF;
	border-radius: 20px;
	background: transparent;
	margin: 10px;
}

#pager a.activeSlide { background: rgba(255,255,255,.6);}
/*Carousel CSS ends here===============*/
